<div class="navbar" >
  <section>
    <button><i class="bi bi-envelope" ></i></button>
    <div class="advice" ><span>2</span></div>
  </section>
  <section>
    <button (click)="notify()" ><i class="bi bi-list-check" ></i></button>
    <div class="advice" *ngIf="this.taskAdvice != 0"><span>{{ taskAdvice }}</span></div>
  </section>
  <section>
    <button><i class="bi bi-bell" ></i></button>
    <div class="advice" ><span>1</span></div>
  </section>
  <section class="avatar" >
    <button><i class="bi bi-person-circle" ></i></button>
    <!-- <img src="../assets/images/2.jpg" alt="avatar"> -->
  </section>
</div>
