<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
<!-- <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #995151;
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    .edit-btn, .delete-btn, .add-btn {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .edit-btn {
        background-color: #4CAF50;
        color: white;
    }

    .delete-btn {
        background-color: #f44336;
        color: white;
    }

    .add-btn {
        background-color: #4bc7ed;
        color: white;
        float: right;
        margin-bottom: 10px;
    }

    .icon {
        margin-right: 5px;
    }
</style> -->

<!-- <div style="display: flex;" > -->
    <!-- <side-bar style="margin: 20px;" ></side-bar> -->
    <!-- <page-table></page-table> -->
    <!-- <page-help></page-help> -->
    <!-- <router-outlet></router-outlet> -->
<!-- </div> -->

<main>
  <div>1</div>
  <nav-var (onNewCharacter)="onDataList()" ></nav-var>
  <!-- <div class="navbar" >
    <section>
      <button><i class="bi bi-envelope" ></i></button>
    </section>
    <section>
      <i class="bi bi-list-check" ></i>
    </section>
    <section>
      <i class="bi bi-bell" ></i>
    </section>
    <section class="avatar" >
      <i class="bi bi-person-circle" ></i>
      <img src="../assets/images/2.jpg" alt="avatar">
    </section>
  </div> -->
  <div>3</div>
  <body-component class="body"></body-component>



</main>

